* {
  box-sizing: border-box;
}
body {
  text-shadow: 0 0 0 black;
}
.container {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 0 15% 0 15%;
  filter: drop-shadow(5px 5px 1px rgb(187, 165, 187));
}
main h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: white;
  font-size: 50px;
  filter: drop-shadow(-5px -5px 2px black);
}
.author {
  position: absolute;
  bottom: 0;
  left: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(12, 129, 168);
  padding: 10px;
  border-radius: 50%;
}
